/*Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

body{
    margin: 0;
    padding: 0;
}

#mainArea {
    display: grid;
    grid-template-columns: 220px calc(100% - 220px);
    grid-template-rows: 56px calc(100vh - 56px);     
    grid-template-areas: "header header" "sidenav content" "footer footer";
}

.mainHeader{
    grid-area: header;
}

.mainAside{
    grid-area: sidenav;
    background: #202286;
}

.mainContent{
    grid-area: content;   
}

.mainFooter{
    grid-area: footer;
    background: gray;     
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.logo-site{
    text-shadow: 2px 2px 2px #000;
}

ul{
    list-style: none;
}

.top-site{
    
}

.meio-site {
    /*height: calc(100% - 56px);
    position: relative;
    top: 56px;
    left: 0;
    clear: both;*/
}

.barra-lateral {
    
}

.conteudo {    
     
}

.conteudo-site{
    
}

.lateral-site {
   
}

.barra-lateral h1{
    
   
}

.rodape-site{
   
}

.auto-overflow {
    overflow: auto;
}

