/*Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

*{
    margin: 0;
    padding: 0;
}

html{
   
}

body {
    
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.logo-site{
    text-shadow: 2px 2px 2px #000;
}

ul{
    list-style: none;
}



.meio-site {
    height: 100rem;
    clear: both;
}

.barra-lateral {
    width: 250px;
    height: 100rem;
    margin-right: 10px;
    border-top: 2px solid;
    border-color: antiquewhite;
    float: left;
    background: #0f3268;    
}

.conteudo {
    height: 100rem;
    background: #F0F3F5;
    clear: right;
}

.conteudo-site{
    
}

.lateral-site {
   
}

.barra-lateral h1{
    
   
}

.rodape-site{
    clear: both;
}


